{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href={{ asset('css/styles.css') }} 
    />
   
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="sidebar">
 
<ul id="mubar">

{# Here app.request.attributes.get('_route') is from twig #}
 <li class="{% if app.request.attributes.get('_route') == 'dashboard' %} active{% endif %}"> <a  href="{{ path('dashboard') }}">Home</a></li>
 <li class="{% if app.request.attributes.get('_route') == 'liststudent' %} active{% endif %}" > <a  href="{{ path('liststudent') }}">Students</a></li>
 <li class="{% if app.request.attributes.get('_route') == 'newstudent' %} active{% endif %}" > <a  href="{{ path('newstudent') }}">Add New Student</a></li>
  <li class="{% if app.request.attributes.get('_route') == 'staff' %} active{% endif %}" ><a  href="{{ path('staff') }}">Staff</a></li>
  <li class="{% if app.request.attributes.get('_route') == 'newstaff' %} active{% endif %}" ><a  href="{{ path('newstaff') }}">Add New Staff</a></li>
  <li class="{% if app.request.attributes.get('_route') == 'app_logout' %} active{% endif %}" ><a  href="{{ path('app_logout') }}">Logout</a></li>
</ul>

</div>
{% endif %}

    {% block body %}{% endblock %} {% block javascripts %}{% endblock %}

  </body>

</html>